<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title>View All Patient</title>
  </head>
  <body>
    <div layout:fragment="content">
        <h1>Patient</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${patients.empty}">
                    <td colspan="3">No Patient</td>
                  </tr>
                  <tr th:each="patient : ${patients}">
                    <td><a href="view.html" th:href="@{'/' + ${patient.patientId}}" th:text="${patient.firstName}">FirstName</a></td>
                    <td><form class="form-inline" th:action="@{'/' + ${patient.patientId}}" th:method="delete"><input type="submit" value="Delete"/></form></td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>