<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--to pick up all annotation in the package-->
    <context:component-scan base-package="com.dk.dento.care"/>


    <bean id="httpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
    </bean>

    <bean id="defaultMessageConverters" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="httpMessageConverter"/>
            </list>
        </constructor-arg>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >
        <property name="messageConverters" ref="defaultMessageConverters"/>
        <property name="cacheSeconds" value="0"/> <!--  NO CACHE  -->
    </bean>

</beans>